---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">About Us</h1>
	<picture>
		<source
			media="(max-width: 600px)"
			srcset="/assets/images/cabinets2-m.jpg"
		/>
		<source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/cabinets2.jpg"
			alt="kitchen cabinets"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/cabinets2-m.jpg"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/cabinets2.jpg"
				/>
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/cabinets2.jpg"
					alt="cabinets"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
			<picture class="cs-picture cs-picture2">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/construction-m.jpg"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/construction.jpg"
				/>
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/construction.jpg"
					alt="house"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">About Us</span>
			<h2 class="cs-title">About Company Title</h2>
			<p class="cs-text">
				In consequat tincidunt turpis sit amet imperdiet. Praesent Class
				officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
				et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
				nonatourean olei aptent taciti sociosqu ad litora torquent per.
			</p>
			<p class="cs-text">
				In consequat tincidunt turpis sit amet imperdiet. Praesent Class
				officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
				et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
				nonatourean olei aptent taciti sociosqu ad litora torquent per.
			</p>
			<div class="cs-flex-group">
				<p class="cs-flex-p">
					In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
					consequat tincidunt turpis sit amet imperdiet for mind.
				</p>
				<span class="cs-name">Justin Time</span>
				<span class="cs-job">CEO-Founder</span>
				<img
					class="cs-quote-icon"
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
					alt="gavel"
					width="136"
					height="77"
				/>
			</div>
			<a href="/projects" class="cs-button-solid">Our Projects</a>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">Our Portfolio</span>
				<h2 class="cs-title">View Our Gallery</h2>
			</div>
			<div class="cs-flex">
				<p class="cs-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut
					sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus
					nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue.
				</p>
				<a aria-label="view more pictures" href="" class="cs-link">
					View More
					<!-- SVG Arrow -->
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.84999C16.55 8.52999 16.01 8.75999 16.01 9.19999V11Z"
							fill="#14142B"
						/>
					</svg>
				</a>
			</div>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture-1">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1.jpg"
					alt="formerly dress you people outside"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-2">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2.jpg"
					alt="formal dinner"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-3">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3.jpg"
					alt="formerly dress you people outside"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-4">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4.jpg"
					alt="recital"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-5">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5.jpg"
					alt="formal evening"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-6">
				<source
					media="(max-width: 600px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6-m.jpg
					"
				/>
				<source
					media="(min-width: 601px)"
					srcset="
						https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6.jpg
					"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6.jpg"
					alt="formal dinner"
					width="380"
					height="271"
				/>
			</picture>
		</div>
	</div>
</section>

{% include 'components/cta.html' %} {% endblock %}
