---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/door.webp'
permalink: 'about/'
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">About Us</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/door.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/door.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/door.webp"
			alt="kitchen cabinets"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="/assets/images/palm.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/palm.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/palm.webp"
					alt="cabinets"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
			<picture class="cs-picture cs-picture2">
				<source media="(max-width: 600px)" srcset="/assets/images/plaza.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/plaza.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/plaza.webp"
					alt="house"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">About Us</span>
			<h2 class="cs-title">History</h2>
			<p class="cs-text">
				Casa Nautiluz stands as a beacon of comfort and historical charm in the
				heart of Cadiz's oldest neighborhood, El Populo. This guesthouse,
				celebrated for its prime location and highly rated accommodations,
				offers a unique blend of modern amenities and a deeply rooted sense of
				place. Nestled within the winding streets of El Populo, Casa Nautiluz is
				just steps away from the city's most venerable landmarks, including
				Cadiz Cathedral and the ancient city walls that whisper tales of
				Phoenician founders and centuries of maritime significance.
			</p>
			<p class="cs-text">
				The Populo neighborhood itself is a living museum, where every corner
				tells a story of conquests, trade, and cultural exchanges. It's among
				the first areas to be fortified when Cadiz began its transformation into
				a pivotal naval base in the ancient world. The narrow, labyrinthine
				streets of El Populo are flanked by buildings that date back to the
				Middle Ages, offering a picturesque backdrop that contrasts beautifully
				with the modern comforts provided by Casa Nautiluz.
			</p>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">Come and Visit</span>
				<h2 class="cs-title">The Neighborhood</h2>
			</div>
			<div class="cs-flex">
				<p class="cs-text">
					El Pópulo, the oldest part of Cadiz, offers a deep dive into the
					city's rich historical and cultural tapestry. Dating back to the 13th
					century, this neighborhood is recognized as the medieval heart of
					Cadiz, nestled between the Town Hall and the Cathedral. Its three
					ancient arches - Arco de la Rosa, Arco del Pópulo, and Arco de los
					Blancos - stand as gateways to this historic quarter, each telling a
					story of the area's past and its significance over the centuries
				</p>
			</div>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture-1">
				<source
					media="(max-width: 600px)"
					srcset="../../assets/images/cathedral1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/cathedral1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/cathedral1.webp"
					alt="A Cathedral in Cadiz"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-2">
				<source
					media="(max-width: 600px)"
					srcset="../../assets/images/caleta.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/caleta.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/caleta.webp"
					alt="Boats on the beach of La Caleta"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-3">
				<source
					media="(max-width: 600px)"
					srcset="../../assets/images/teatro.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/teatro.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/teatro.webp"
					alt="The grand theatre Falla of Cadiz"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-4">
				<source
					media="(max-width: 600px)"
					srcset="../../assets/images/castle.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/castle.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/castle.webp"
					alt="A large Cathedral"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-5">
				<source media="(max-width: 600px)" srcset="
				../../assets/images/beach1.webp" " />
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/beach1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/beach1.webp"
					alt="Beach sunset"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-6">
				<source
					media="(max-width: 600px)"
					srcset="../../assets/images/sunset.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="../../assets/images/sunset.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="../../assets/images/sunset.webp"
					alt="a sunset on a beach"
					width="380"
					height="271"
				/>
			</picture>
		</div>
	</div>
</section>

{% include 'components/cta.html' %} {% endblock %}
