---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/sunset.webp'
permalink: 'about/'
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">About Us</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/sunset.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/sunset.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/sunset.webp"
			alt="sunset on the coast"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="/assets/images/plaza.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/plaza.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/plaza.webp"
					alt="cabinets"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
			<picture class="cs-picture cs-picture2">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/victoria.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/victoria.webp"
				/>
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/victoria.webp"
					alt="stone walkway on the beach"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">About Us</span>
			<h2 class="cs-title">History</h2>
			<p class="cs-text">
				Welcome to our retreat in Cadiz's enchanting Casco Antiguo neighborhood,
				where quality meets affordability, and hospitality knows no bounds.
				Whether you're seeking an extended stay in a fully-equipped apartment or
				a cozy private room for your sojourn, Spanish Galleon Lodge offers the
				perfect holiday sanctuary. Our commitment is simple: to surpass your
				expectations in service, accommodation, and ambiance. Select from our
				range of thoughtfully designed, newly renovated apartments, each
				featuring its own kitchen and bathroom, or opt for the intimacy of our
				inviting private rooms.
			</p>
			<p class="cs-text">
				Whichever you prefer, all our accommodations provide access to a
				stunning terrace boasting panoramic views of the majestic cathedral—a
				sight to behold as you unwind beneath the Spanish sky. After a day of
				exploration, retreat to the comfort of your apartment or room, where
				tranquility and relaxation await. At Spanish Galleon Lodge, we're
				dedicated to crafting an environment where guests revel in delightful
				experiences. Discover why our guests often request "one more night!" We
				eagerly await the opportunity to exceed your expectations and make your
				extended stay in Cadiz truly unforgettable.
			</p>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">Come and Visit</span>
				<h2 class="cs-title">The Neighborhood</h2>
			</div>
			<div class="cs-flex">
				<p class="cs-text">
					Casco Antiguo, the historic heart of Cadiz, beckons with its narrow
					cobblestone streets, ancient churches, and vibrant plazas. As one of
					the oldest continuously inhabited cities in Europe, its charm lies in
					its rich tapestry of Moorish, Roman, and Phoenician influences. Wander
					through labyrinthine alleys lined with colorful facades, stumble upon
					hidden tapas bars, and soak in the lively atmosphere of bustling
					markets. From the imposing Cathedral to the picturesque La Caleta
					beach, Casco Antiguo invites you to immerse yourself in centuries of
					history and culture amidst its timeless beauty.
				</p>
			</div>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture-1">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/cathedral1.webp"
					alt="A Cathedral in Cadiz"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-2">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/caleta.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/caleta.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/caleta.webp"
					alt="Boats on the beach of La Caleta"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-3">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/teatro.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/teatro.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/teatro.webp"
					alt="The grand theatre Falla of Cadiz"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-4">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/castle.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/castle.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/castle.webp"
					alt="A large Cathedral"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-5">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/beach1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/beach1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/beach1.webp"
					alt="Beach sunset"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-6">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/sunset.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/sunset.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/sunset.webp"
					alt="a sunset on a beach"
					width="380"
					height="271"
				/>
			</picture>
		</div>
	</div>
</section>

{% endblock %}
