---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/beach1.webp'
permalink: 'contact/'
eleventyNavigation:
	key: Contact
	order: 700
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">Contact Us</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/beach1.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/beach1.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/beach1.webp"
			alt="kitchen cabinets"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact">
	<div class="cs-container">
		<form id="cs-form" name="Contact Form" method="POST" data-netlify="true">
			<div class="cs-content">
				<span class="cs-topper">Contact</span>
				<h2 class="cs-title">Get in Touch</h2>
				<p class="cs-text">
					Have questions or ready to book your stay? Reach out to us! Our team
					is here to assist you with any inquiries or reservations. Fill out the
					form below, and we'll get back to you promptly. Your adventure in
					Cadiz awaits!
				</p>
			</div>
			<label>
				Name
				<input required type="text" id="name" name="name" placeholder="Name" />
			</label>
			<label>
				Email
				<input
					required
					type="text"
					id="email"
					name="email"
					placeholder="Email"
				/>
			</label>
			<label class="cs-label-message">
				Message
				<textarea
					required
					name="Message"
					id="message"
					placeholder="Write message..."
				></textarea>
			</label>
			<button class="cs-button-solid" type="submit">Submit Message</button>
		</form>
		<div class="cs-right-section">
			<!--Email-->
			<span class="cs-header">Email</span>
			<a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
			<!--Phone-->
			<span class="cs-header">Phone</span>
			<a class="cs-link" href="tel:{{client.phoneForTel}}"
				>{{client.phoneFormatted}}</a
			>
			<!--Address-->
			<span class="cs-header">Address</span>
			<a class="cs-link" href="{{client.address.mapLink}}">
				{{client.address.lineOne}},
				<br />
				{{client.address.lineTwo}},
				<br />
				<span class="cs-block">
					{{client.address.city}} {{client.address.state}}
					{{client.address.zip}}
				</span>
			</a>

			<!-- Background Image-->
			<picture class="cs-bg-picture">
				<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/tower.webp"
					alt="Tower of a cathedral"
					loading="lazy"
					width="2500"
					height="1667"
				/>
			</picture>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
	<iframe
		src="https://www.google.com/maps/d/embed?mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ&ehbc=2E312F"
		width="100%"
		height="500"
	></iframe>
</section>
{% endblock %}
