---
title: 'FAQs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faqs/'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faqs.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">FAQs</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/tower.webp"
			alt="tower of a cathedral"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Asked questions</span>
			<h2 class="cs-title">Frequently Asked Questions</h2>
		</div>
		<ul class="cs-faq-group">
			<!-- Active class added as default -->
			<li class="cs-faq-item active">
				<button class="cs-button">
					<span class="cs-button-text">
						How much are house cleaning services?
					</span>
				</button>
				<p class="cs-item-p">Some</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						What is your plan cancellation policy?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						How long should a house cleaning take?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						How much are house cleaning services?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Can cleanings be scheduled? </span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
		</ul>
		<!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
		<ul class="cs-faq-group">
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						How much are house cleaning services?
					</span>
				</button>
				<p class="cs-item-p">
					Some cleaning plans require a minimum commitment term. Cancelling your
					plan before the minimum term is complete will result in a $99 fee. If
					you want to learn more information about how to cancel, please inbox
					us.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						What is your plan cancellation policy?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						How long should a house cleaning take?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						How much are house cleaning services?
					</span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Can cleanings be scheduled? </span>
				</button>
				<p class="cs-item-p">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis
					nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor
					sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna,
					quam.
				</p>
			</li>
		</ul>
	</div>
</section>

{% endblock %}
