---
title: 'FAQs'
description: 'Meta description for the page'
preloadImg: '/assets/images/tower.webp'
permalink: 'faqs/'
eleventyNavigation:
	key: FAQs
	order: 600
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faqs.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">FAQs</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/tower.webp"
			alt="tower of a cathedral"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">How can we help</span>
			<h2 class="cs-title">Frequently Asked Questions</h2>
		</div>
		<ul class="cs-faq-group">
			<!-- Active class added as default -->
			<li class="cs-faq-item active">
				<button class="cs-button">
					<span class="cs-button-text">
						Transportation from Jerez Airport
					</span>
				</button>
				<p class="cs-item-p">
					Train - Aprox. 45 minutes and 6€ Click
					<a
						class="cs-li-link"
						href="https://www.renfe.com/es/en/suburban/suburban-cadiz/timetables"
						>HERE</a
					>
					to find exact pricing and timetables.
				</p>
				<p class="cs-item-p">
					Taxi - Aprox. 40 minutes and 45-60 € depending on time and day.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Transport from Sevilla </span>
				</button>
				<p class="cs-item-p">
					Train - Approx 1 hour and 40 minutes and about €14. Click
					<a class="cs-li-link" href="https://www.renfe.com/es/es">HERE</a> for
					updated schedules and prices.
				</p>
				<p class="cs-item-p">Car - Approximately 1 hour and 15 minutes.</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						Transportation with Local Buses To Visit Other Towns
					</span>
				</button>
				<p class="cs-item-p">
					Click
					<a href="https://www.tgcomes.es/consulta-los-horarios/">HERE</a>
					to check bus schedules and destinations.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Parking </span>
				</button>
				<p class="cs-item-p">
					We do not have private parking but we have one 5 minutes walk from the
					hostel, Parking Canalejas. Click
					<a href="https://www.interparking.es/es-ES/find-parking/Canalejas/"
						>HERE</a
					>
					for information, location and prices.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Services We Offer </span>
				</button>
				<p class="cs-item-p">Check-in from 15:00</p>
				<p class="cs-item-p">Check-out until 11:00</p>
				<p class="cs-item-p">Virtual Reception from 09:00 to 21:00</p>
				<p class="cs-item-p">Free Wi-Fi Access</p>
				<p class="cs-item-p">Terrace Access</p>
				<p class="cs-item-p">We Print your Boarding Pass</p>
				<p class="cs-item-p">Laundry Service Linen Included</p>
				<p class="cs-item-p">Hairdryer</p>
				<p class="cs-item-p">
					Luggage Storage (Must give 24 hour notice to use this service)
				</p>
			</li>
		</ul>
		<!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
		<ul class="cs-faq-group">
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Local Partners </span>
				</button>
				<p class="cs-item-p">
					<a href="https://revolcom.com/">Surf Classes</a>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>Guided and Gastronomical Tours</a
					>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>Flamenco Tours</a
					>
				</p>
				<p class="cs-item-p">
					<a href="https://instabio.cc/galleonflamenco">Flamenco Shows</a>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Payment Policy </span>
				</button>
				<p class="cs-item-p">
					All guests are charged in full once the free cancellation period has
					ended. Please check the conditions of your reservation to see when
					this is.
				</p>
				<p class="cs-item-p">
					If you prefer to pay in cash or with a different credit card, please
					inform the staff and upon your arrival we will issue a refund to the
					original card.
				</p>
				<p class="cs-item-p">
					If you prefer to pay in Cryptocurrency, there is a 5% discount on the
					total of the reservation. Ask our staff for details.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Our Location </span>
				</button>
				<p class="cs-item-p">
					Check out our link to google maps for nearby restaurants, cafes and
					atractions. Click
					<a
						href="https://www.google.com/maps/d/u/0/viewer?ll=36.53261874360098%2C-6.299278333319191&z=16&mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ"
						>HERE</a
					>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Weather and Waves </span>
				</button>
				<p class="cs-item-p">
					For up to date weather information click
					<a href="https://www.eltiempo.es/cadiz.html">HERE</a>
				</p>
				<p class="cs-item-p">
					For up to date surf info click
					<a href="https://www.windguru.cz/378664">HERE</a>
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Wi-Fi Access Password</span>
				</button>
				<p class="cs-item-p">SpanishGalleonLodge</p>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
	<iframe
		src="https://www.google.com/maps/d/embed?mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ&ehbc=2E312F"
		width="100%"
		height="500"
	></iframe>
</section>

{% endblock %}
