---
title: 'Gallery'
description: 'Meta description for the page'
preloadImg: '/assets/images/castle.webp'
permalink: 'gallery/'
eleventyNavigation:
  key: Gallery
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">Our Accomodations</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/castle.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/castle.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/castle.webp"
			alt="castle on the coast"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
	<div class="cs-container">
		<div class="cs-image-group">
			<!-- Row 1-->
			<div class="cs-row cs-row-1">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/roof.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/roof.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/roof.webp"
						alt="rooftop at Spanish Galleon"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room2.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room2.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room2.webp"
						alt="bedroom stays"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bathroom0.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bathroom0.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bathroom0.webp"
						alt="Bathroom at hotel stay"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
			<!-- Row 2 -->
			<div class="cs-row cs-row-2">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room8.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room8.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room8.webp"
						alt="hotel stay with a balcony"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bathroom1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bathroom1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bathroom1.webp"
						alt="bathroom style at hotel stay"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/roof2.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/roof2.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/roof2.webp"
						alt="rooftop terrace at spanish galleon lodge"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
			<!-- Row 3 -->
			<div class="cs-row cs-row-3">
				<picture class="cs-picture cs-picture1">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/bathroom3.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/bathroom3.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/bathroom3.webp"
						alt="bathroom at spanish galleon lodge"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture2">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/roof1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/roof1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/roof1.webp"
						alt="apartment addition"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>
				<picture class="cs-picture cs-picture3">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/portfolio/room1.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/portfolio/room1.webp"
					/>
					<img
						aria-hidden="true"
						decoding="async"
						src="/assets/images/portfolio/room1.webp"
						alt="bedroom at spanish galleon lodge"
						loading="lazy"
						width="400"
						height="560"
					/>
				</picture>

				<!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
			</div>
		</div>
	</div>
</section>

{% endblock %}
