/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: (40/16rem);
        }

        .cs-left {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            border-radius: (24/16em);
            display: block;
            position: absolute;
            /* clips img tag corners */
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }

        .cs-right {
            max-width: (542/16rem);
            margin: auto;
        }

        .cs-topper {
            text-align: left;
            margin-bottom: (4/16rem);
        }

        .cs-title {
            text-align: left;
            max-width: (800/16rem);
        }

        .cs-text {
            text-align: left;
            max-width: (750/16rem);
            margin-bottom: (16/16rem);
            color: var(--bodyTextColor);

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .cs-flex-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #353535;
        }

        .cs-name {
            font-size: (16/16rem);
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: (0/16rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #gallery-42 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            max-width: (630/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-link {
            font-size: (15/16rem);
            font-weight: 700;
            text-decoration: none;
            line-height: 1.5em;
            width: (100/16rem);
            color: var(--headerColor);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 100%;
                background: currentColor;
                opacity: 1;
                bottom: (-3/16rem);
                left: 0;
            }
            &:hover {
                svg {
                    transform: translateX(0.4375rem);
                }
            }

            svg {
                width: (24/16rem);
                height: (24/16rem);
                transition: transform 0.3s;
            }
        }

        .cs-image-group {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 31vw);
            /* 16px - 20px */
            gap: clamp(0.5rem, 1.5vw, 1.25rem);
        }

        .cs-picture {
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-picture-1 {
            grid-column: ~"1 / span 6";
            grid-row: span 1;
        }

        .cs-picture-2 {
            grid-column: ~"7 / span 6";
            grid-row: span 1;
        }

        .cs-picture-3 {
            grid-column: ~"1 / span 12";
            grid-row: ~"2 / span 2";
        }

        .cs-picture-4 {
            grid-column: ~"1 / span 12";
            grid-row: ~"4 / span 2";
        }

        .cs-picture-5 {
            grid-column: ~"1 / span 6";
            grid-row: ~"6 / span 1";
        }

        .cs-picture-6 {
            grid-column: ~"7 / span 6";
            grid-row: ~"6 / span 1";
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #gallery-42 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            gap: (48/16rem);
        }

        .cs-flex {
            min-width: 45%;
        }

        .cs-image-group {
            /* 116px - 210px */
            grid-template-rows: repeat(3, clamp(7.25rem, 16vw, 13.125rem));
        }

        .cs-picture-1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }

        .cs-picture-2 {
            grid-column: 4 / span 3;
            grid-row: 1 / span 1;
        }

        .cs-picture-3 {
            grid-column: 1 / span 6;
            grid-row: 2 / span 2;
        }

        .cs-picture-4 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 2;
        }

        .cs-picture-5 {
            grid-column: 7 / span 3;
            grid-row: 3 / span 1;
        }

        .cs-picture-6 {
            grid-column: 10 / span 3;
            grid-row: 3 / span 1;
        }
    }
}
                                