---
title: 'Spanish Galleon Lodge'
description: 'Meta description for the page'
preloadImg: '/assets/images/sunset-boat.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
	defer
	src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on('init', (user) => {
			if (!user) {
				window.netlifyIdentity.on('login', () => {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
	<div class="cs-container">
		<h1 class="cs-title">
			Discover Cadiz's Treasures at Spanish Galleon Lodge
		</h1>
		<p class="cs-text">Your Tranquil Hideaway in Cadiz</p>
		<a
			href="https://hotels.cloudbeds.com/en/reservation/Siado5"
			class="cs-button-solid"
		>
			Reserve Your Stay
		</a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source
			media="(max-width: 600px)"
			srcset="/assets/images/sunset-boat.webp"
		/>
		<source
			media="(min-width: 601px)"
			srcset="/assets/images/sunset-boat.webp"
		/>
		<img
			decoding="async"
			src="/assets/images/sunset-boat.webp"
			alt="sunset-boat in cadiz"
			width="2250"
			height="1500"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Best-In-Class</span>
			<h2 class="cs-title">Our Amenaties</h2>
			<p class="cs-text">
				Welcome to the Spanish Galleon Lodge, your charming retreat nestled in
				the heart of Cadiz's historic Casco Antiguo neighborhood. Immerse
				yourself in the rich tapestry of Spanish culture and heritage while
				enjoying the comfort and convenience of our touristic apartment
				building.
			</p>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/air-conditioner.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Air Conditioning / Heating</h3>
					<p class="cs-item-text">
						Enjoy personalized comfort with heating and cooling units in every
						room, ensuring an optimal and cozy ambiance throughout your stay in
						Cadiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/wifi.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Free Wi-Fi</h3>
					<p class="cs-item-text">
						Stay seamlessly connected with complimentary high-speed Wi-Fi,
						ensuring you can effortlessly blend your coastal retreat with work
						or leisure.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/laundry-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Laundry Service</h3>
					<p class="cs-item-text">
						Our boutique hotel offers hassle-free laundry services, ensuring
						that you can enjoy a fresh and relaxing experience leaving you more
						time to immerse yourself in the beauty of Cadiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/room-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Room Services</h3>
					<p class="cs-item-text">
						Comprehensive room services, including housekeeping, concierge,
						ensuring a comfortable and enjoyable stay for guests at our hotel.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/terrace-chair.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Rooftop Terrace</h3>
					<p class="cs-item-text">
						Indulge in stunning vistas at Spanish Galleon Lodges' rooftop
						terrace, offering breathtaking views of Cadiz and the skyline.
					</p>
				</a>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Welcome to Spanish Galleon Lodge</span>
			<h2 class="cs-title">A Coastal Beauty with Historic Charm</h2>
			<p class="cs-text">
				Experience the boutique allure of the Spanish Galleon Logde in Cadiz's
				heart. Unwind in uniquely designed rooms that perfectly capture the
				essence of coastal chic.
			</p>
			<a href="/about" class="cs-button-solid">Explore Our History</a>
		</div>
	</div>
	<!-- Background Image-->
	<picture class="cs-picture">
		<source media="(max-width: 600px)" srcset="./assets/images/beach1.webp" />
		<source media="(min-width: 601px)" srcset="./assets/images/beach1.webp" />
		<img
			loading="lazy"
			decoding="async"
			src="./assets/images/beach1.webp"
			alt="cadiz beach1 photo of the coast"
			width="1920"
			height="1280"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1355">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Local Attractions</span>
			<h2 class="cs-title">Your Getaway is Calling</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/to-visit-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3">
						<span class="cs-span">Events</span> + Activities
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/surf.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/surf.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/surf.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/where-to-eat/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3"><span class="cs-span">Food</span> + Drinks</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/croquets.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/croquets.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/croquets.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/leisure-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3"><span class="cs-span">Relax</span> + Explore</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/cathedral.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/cathedral.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/cathedral.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
		</ul>
	</div>
</section>

{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Stay In The Heart Of Cadiz</span>
			<h2 class="cs-title">Our Guests Reviews</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot3.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Stephanie L.
						<span class="cs-job">Dec 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						This apartment was a total win! Perfectly located in the city
						center, self-check-in/out was a breeze thanks to Mario's guidance.
						The room had all we needed, including a fridge and fan. Plus, the
						rooftop terrace was perfect for chilling. Definitely coming back
						next semester!
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review1.png"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Jeffery R.
						<span class="cs-job">Nov 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Spanish Galleon Lodge ticks all the boxes for a digital nomad. Prime
						location in the city center, seamless self-check-in/out, and Mario
						provided all the details we needed. The nautical theme added flair
						to the spacious layout, and the rooftop terrace was perfect for
						unwinding. Highly recommended for fellow nomads.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://images.pexels.com/photos/1937434/pexels-photo-1937434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Michelle V.
						<span class="cs-job">Aug 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Our stay in this beautiful apartment was memorable. Spacious with a
						separate bathroom, kitchen, and dining area, it felt like home. The
						central location made exploring Cadiz easy, and Mario's instructions
						made check-in/out hassle-free. The rooftop terrace was a gem for
						lazy mornings and sunset views. Highly recommend for a delightful
						holiday in Cadiz.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
		</ul>
	</div>
</section>

{% endblock %}
