---
title: 'Casa Nautilus'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
	defer
	src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on('init', (user) => {
			if (!user) {
				window.netlifyIdentity.on('login', () => {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
	<div class="cs-container">
		<h1 class="cs-title">Discover Tranquility at Casa Nautilus</h1>
		<p class="cs-text">Your Oasis in Cadiz</p>
		<a href="" class="cs-button-solid"> Reserve Your Stay </a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source media="(max-width: 600px)" srcset="./assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="./assets/images/tower.webp" />
		<img
			decoding="async"
			src="./assets/images/tower.webp"
			alt="kitchen"
			width="2250"
			height="1500"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Best-In-Class</span>
			<h2 class="cs-title">Our Amenaties</h2>
			<p class="cs-text">
				Casa Nautiluz offers a range of amenities tailored to enhance the
				comfort and convenience of guests during their stay in Cadiz, Spain.
				From elegantly appointed rooms exuding charm and sophistication to
				personalized service that anticipates every need, guests can expect a
				seamless experience. Whether unwinding in the cozy accommodations or
				discovering the rich history of Cadiz, Casa Nautiluz promises a
				memorable retreat in the heart of this enchanting city.
			</p>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Air Conditioning / Heating</h3>
					<p class="cs-item-text">
						Enjoy personalized comfort with heating and cooling units in every
						room, ensuring an optimal and cozy ambiance throughout your stay in
						Cadiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Wheelchair Accessible</h3>
					<p class="cs-item-text">
						Experience convenience and accessibility at Casa Nautilus, where our
						elevator ensures effortless mobility, allowing you to navigate our
						boutique hotel with ease.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Free Wi-Fi</h3>
					<p class="cs-item-text">
						Stay seamlessly connected with complimentary high-speed Wi-Fi,
						ensuring you can effortlessly blend your coastal retreat with work
						or leisure.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Laundry Service</h3>
					<p class="cs-item-text">
						Our boutique hotel offers hassle-free laundry services, ensuring
						that you can enjoy a fresh and relaxing experience leaving you more
						time to immerse yourself in the beauty of Cadiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Room Services</h3>
					<p class="cs-item-text">
						Comprehensive room services, including housekeeping, concierge,
						ensuring a comfortable and enjoyable stay for guests at our hotel.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Rooftop Terrace</h3>
					<p class="cs-item-text">
						Indulge in stunning vistas at Casa Nautilus' rooftop terrace,
						offering breathtaking views of Cadiz and the ocean.
					</p>
				</a>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Welcome to Casa Nautilus</span>
			<h2 class="cs-title">A Coastal Beauty with Historic Charm</h2>
			<p class="cs-text">
				Experience the boutique allure of Casa Nautilus in Cadiz's heart. Unwind
				in uniquely designed rooms that perfectly capture the essence of coastal
				chic.
			</p>
			<a href="/about" class="cs-button-solid">Explore Our History</a>
		</div>
	</div>
	<!-- Background Image-->
	<picture class="cs-picture">
		<source media="(max-width: 600px)" srcset="./assets/images/skyline.webp" />
		<source media="(min-width: 601px)" srcset="./assets/images/skyline.webp" />
		<img
			loading="lazy"
			decoding="async"
			src="./assets/images/skyline.webp"
			alt="cabinets"
			width="1920"
			height="1280"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1355">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Our Services</span>
			<h2 class="cs-title">
				We’re Committed to Deliver Top High Quality Services
			</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<h3 class="cs-h3"><span class="cs-span">Growing</span> Businesses</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg
						"
					/>
					<source
						media="(min-width: 601px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg
						"
					/>
					<img
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<h3 class="cs-h3">
						<span class="cs-span">Building</span> Relationships
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg
						"
					/>
					<source
						media="(min-width: 601px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg
						"
					/>
					<img
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<h3 class="cs-h3">
						<span class="cs-span">Operational</span> Excellence
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg
						"
					/>
					<source
						media="(min-width: 601px)"
						srcset="
							https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg
						"
					/>
					<img
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Testimonials</span>
			<h2 class="cs-title">Our Customer Reviews</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Cristina P.
						<span class="cs-job">May 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Our stay at Casa Nautilus exceeded all expectations! We were
						pleasantly surprised by the interior room's tranquility and
						spaciousness despite the absence of an outside window. It was
						impeccably clean and equipped with all necessary amenities,
						including air conditioning, TV, and a hairdryer. The complimentary
						welcome beer was a thoughtful touch, and mornings on the rooftop
						terrace with coffee were serene.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Maria F.
						<span class="cs-job">Dec 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Casa Nautilus offers excellent accommodation right in the heart of
						Cadiz. The rooms are clean, cozy, and come with all the essentials
						for a comfortable stay. We particularly enjoyed the nautical theme
						throughout the hotel, adding to its charm. The location couldn't be
						better, just steps away from the cathedral and within a convenient
						10-minute walk from the train station.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Sarah S.
						<span class="cs-job">Jun 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						My recent stay at Casa Nautilus was nothing short of delightful!
						From the moment we arrived, we were impressed by the boutique charm
						and attentive service. Our interior room, though lacking an outside
						window, provided a quiet retreat and was equipped with all the
						necessary amenities. The rooftop terrace, with its captivating
						views, was a highlight of our mornings. The hotel's attention to
						detail and affordable rates truly set it apart.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
		</ul>
	</div>
</section>

{% include 'components/cta.html' %} {% endblock %}
